<h2 mat-dialog-title> {{ data.title }} </h2>
<mat-dialog-content>
  <ul>
    <li>Author: {{ data.author }}</li>
    <li>Category: {{ data.category }}</li>
    <li>Price: {{ data.price }} {{ data.currency }}</li>
    <li>Release Date:{{ data.releaseDate }}</li>
  </ul>
  <div class="d-flex justify-content-end">
    <button mat-icon-button (click)="goToPage(data.source)"><mat-icon fontIcon="shop"></mat-icon></button>
    <button mat-icon-button (click)="dialogRef.close()"><mat-icon fontIcon="exit_to_app"></mat-icon></button>
  </div>
</mat-dialog-content>